.layout__menu-toogle{
  display: none;
}


@media(max-width: 1490px){
  body{
    padding: 0;
  }
  .layout{
    min-width: auto;
    width: 85%;
  }
}

@media(max-width:1320px){
  .layout{
    width: 89%;
    margin-left: 3rem;
  }
}

@media(max-width:1160px){
  .layout{
    width: 85%;
    margin-left: 4rem;
  }

  .certificates__certificate{
    flex-basis: 100%;
  }
}


@media(max-width:1060px){

  body{
    background-image: none;
    position: static;
  }


  .layout {
    .layout__content {
      grid-area: content;
      height: 100%;
      min-height: 100%;
      background-color: var(--color-principal);
      border-radius: 0 10rem 10rem 0;

    }
  }

  .layout{
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    border-radius: 0;

    grid-template-areas: 'content';
    grid-template-columns: 100%;
  }



  .layout__menu-toogle{
    z-index: 9999 !important;
    display: block;
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
    background-color:#850f21;
    right: 1rem;
    top: 1rem;
    font-size: 2.5rem;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    transition: all 500ms ease-in-out;


  }

  .toogle__icon{
    color: var(--color-icon);
    display: block;
    position: absolute;
    top: 25%;
    left: 28%;
    transition: all 300ms ease-in-out;
  }

  .fa-bars{
    opacity: 1;
  }

  .fa-xmark{
    opacity: 0;
  }

  .layout__aside{
    display: block;
    position: absolute;
    max-width: 330px;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 !important;
    background-color: #850f21;
    opacity: 1;
    text-align: center;
    overflow: auto;
    transition: all 300ms ease-in-out;
    z-index: 999;


    margin-right: -100%;
    opacity: 0;
  }

  .layout__aside--visible{
    width: 100%;
    margin-right: 0;
    opacity: 1;
  }

  .layout__aside--hidden{
    margin-right: -100%;
    opacity: 0;
  }

  /* .user-info__menu{
    position: static;
    margin: 3rem 0rem;
  } */

  .layout__content{
    border-radius: 0 ;
    /* background-color: transparent; */
    height: 100%;
    width: 100%;
  }

  /* .aside__user-info{
    opacity: 1;
    z-index: 1;
  } */

  .user-info__container-image{
    width: 13rem;
    margin-top: 0;
    padding-top: 3rem;
    display: inline-block;
  }
  .user-info__name{
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }



  .user-info__menu {
    position: static !important;
    margin-left: 4.9rem;
    margin-top: 1rem;
    z-index: 1;

  }



    .menu__list {
      position: static;
      width: 100%;
      background-color: #850f21 !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: auto;
      padding:0;
      /* width: 60%; */
      box-shadow: none !important;
      border: none !important;
    }


  .menu__icon{
    display: none;
  }

  .menu__overlay{
    position: static !important;
    opacity: 1 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    font-size: 1.6rem !important;
    border: 0 solid #850f21 !important;
    transition: all 300ms ease-in-out;

  }

  .menu__link--active .menu__overlay{
    scale: 2;
    text-shadow: 0 0 -10px var(--color-text);
  }

  .menu__link{
    text-decoration: none;
    display: block;
    padding: 1.2rem;
  }


  .links__social{
    margin-top: 0;
  }




  .user-info__user-links{
    margin-top: -2.4rem;
  }

  .user-info__btn {
    display: block;
    margin-top: -1rem;

    border: 2px solid var(--color-text);
    border-radius: 3.2rem;
    padding: 2rem;
    box-shadow: 0 0px 50px var(--color-icon);
    transition: all 300ms ease-in-out;
  }

  .user-info__footer {
    position: static !important;
    padding-bottom: 2rem !important;
  }





  .content__page{
    border-radius: 0;
    background-color: transparent;
    height: 100vh;
  }

}

@media(max-width:800px){

  .reviews__container{
    flex-direction: column;
  }
  .reviews__review{
    margin-top: 6rem;
    flex-basis: 100%;
  }

  .gallery__item{
    flex-basis: 50%;
  }

  .articles__article{
    flex-basis: 100%;
  }




}

@media(max-width:585px){

  .about__personal-info{
    flex-direction: column;
    width: 100%;
    margin-bottom: 5rem;
  }

  .personal-info__data{
    flex-basis: 100%;
    padding: 0;
    margin-top: 2rem;
  }

  .services__container{
    flex-direction: column;

  }

  /* .services__service{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  } */
  .extra__container{
    flex-direction: column;
    gap: 2rem;
  }

  .resume__container{
    flex-direction: column;
  }

  .resume__right{
    flex-basis: 90%;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .resume__certificates {
    flex-basis: 90%;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .contact__container {
  flex-direction: column;
  }
}


@media(max-width:480px){
  .page__name{
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: center;
  }
  .certificate__logo{
    width: 100%;
    height: 161px;

  }

  .certificates__image{
    height: 100%;
  }

  .gallery__item{
    flex-basis: 100%;
  }

  .form__container{
    display: flex;
    flex-direction: column;
    z-index: -1;
  }

  .form__left{
    flex-basis: 100%;
    margin-right: 0;
  }

  .form__right{
    flex-basis: 100%;
    max-width:100% ;
    max-height: 100%;
  }
}
